@using Newtonsoft.Json
@model ValidationPoc.Dto.Questionnaire
@{
    ViewBag.Title = "Edit Questionnaire";
}
@section scripts{
    <script type="text/javascript" src="~/scripts/App/QuestionnaireApp.js"></script>
}
<div ng-app="QuestionnaireApp" class="container-fluid">

    <h2>Questionnaire</h2>
    <form name="form" ng-controller="QuestionnaireController"
          action="@Url.Action("Edit", "Home")" ng-submit="(submitted=true) && form.$invalid && $event.preventDefault();"
          method="post" novalidate="novalidate" autocomplete="off"
          ng-cloak>
        <!-- ng-cloak prevents elements being displayed before data is loaded -->
        @Html.ValidationSummary()

        @Html.Partial("Form")

        <div class="row">
            <div class="col-md-12 errorColumn">
                <p>
                    Fields marked with an asterisk <span class="error">*</span> are required.
                </p>
            </div>
        </div>


        <div>
            <input class="btn btn-success" type="submit" value="Save">
            <a href="@Url.Action("List")" class="btn btn-default">Back</a>
        </div>
    </form>
</div>

<textarea id="data" style="display: none;">@Html.Raw(JsonConvert.SerializeObject(Model))</textarea>